*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
/* .container {
    width: 80%;
    margin: 0 auto;
} */

header {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 1%;
    margin-bottom: 2%;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;

}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 1%;
}

.avatar {
    border-radius: 50%;
}

.user{
    display: flex;
    align-items:center;
    padding-left: 1%;
    border-bottom: solid 1px lightgrey;
}

.female {
    background-color: pink;
}

footer{
    margin-top: 2%;
}

main {
    width: 80%;
    margin: 0 auto;
}

.search {
    margin-bottom: 0.5%;
    padding-left: 11%;
}

.search input {
    border: none;
    border-bottom: solid 1px gray;
    width: 85%;
    font-size: 1.5em;
}

.user>div{
    margin-right: 1%;
}

.user div p {
    margin: 3%;
}